# Java / Maven
target/
*.class
*.jar
*.war
/nbbuild/
/dist/
/nbdist/
build/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
gen/

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Config & Logs (SICUREZZA)
*.log
.env
env.properties
HELP.md